Victor Mantilla Colon

1. Create Calculations:

a. Add two integers together.

In [1]:
4 + 6

10

b. Substract two integers.

In [2]:
8 - 2

6

c. Divide two values. Have the result be an integer by using floor division.

In [7]:
4/3

1.3333333333333333

In [8]:
4//3

1

d. Create a variable 'x'. Have it's value be 10+5. Print 'x'.

In [9]:
x = 10 + 5
print(x)

15

2.  Create two strings and combine them using the + operator.

In [16]:
string1 = 'I love and'
string2 = 'I hate you!'
print(string1 + " " + string2)

I love and I hate you!

3. Create variable 'y'. Have the value be 'program'.  Omit letters o and g. Print the result.

In [18]:
y = 'program'
print(y)

program

In [19]:
y[0:2] + y[4:]

'prram'

4. Create a list called 'calendar_months'.

a. How long is the list?

In [20]:
calendar_months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
len(calendar_months)

12

b. Print only February, March, and April.

In [23]:
calendar_months[1:4]

['February', 'March', 'April']

5. Create a sample list of your choice, using string variables.

In [25]:
artists = ['Picasso', 'Dali', 'Miro', 'Magritte']
print(artists)

['Picasso', 'Dali', 'Miro', 'Magritte']

6. Create a second sample list of your choice, using string variables.

In [26]:
collectors = ['Leo Stein', 'Christian Dior', 'Josep Dalmau', 'Max Janlet']
print(collectors)

['Leo Stein', 'Christian Dior', 'Josep Dalmau', 'Max Janlet']

7.  Create a third list that concats the two sample lists you created above.

In [52]:
provenance = artists + collectors
print(provenance)

['Picasso', 'Dali', 'Miro', 'Magritte', 'Leo Stein', 'Christian Dior', 'Josep Dalmau', 'Max Janlet']

a. Remove one item from the third list

In [53]:
provenance.pop(3)
print(provenance)

['Picasso', 'Dali', 'Miro', 'Leo Stein', 'Christian Dior', 'Josep Dalmau', 'Max Janlet']

8. Create a dictionary that has four keys and assign those keys values.

In [39]:
goats = {"Tennis": "Serena Williams",
         "Swimming": "Michael Phelps",
         "Gymastics": "Simone Biles",
         "Track & Field": "Usain Bolt"}

In [40]:
print(goats["Tennis"])

Serena Williams

a. What is the length of the dictionary?

In [41]:
len(goats)

4